@charset "utf-8";
/* CSS Document */
body,ul,div,img,h5,h4,h3,h2,h1,p,span,table,figure,i,li{ margin:0; padding:0}
a:link, a:visited {text-decoration: none; } 
a{-webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; -ms-transition: all 0.5s;}
img{ border:0}
body{font-size:14px;background:white;color:#666; } 
article{width:1030px;margin:0 auto;padding: 0 0 0 5px;  overflow:auto;background:url(../Images/mbg.jpg) 17px bottom repeat-y }
#header{ padding:0 0; width:1002px; margin:auto; background: url(../Images/hbg.jpg) 0 top no-repeat;border: solid white 1px;}
#header h1{ font-size:22px; text-shadow:#fff 1px 1px 1px; }
#header h1 a{color:#000;-webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s;}
#header h1 a:hover{ padding-left:20px}
#header p{margin:17px 0 0 0;text-shadow:#000 1px 1px 1px;color:#fff}
.navswf{ position:relative; width:1000px; margin:auto}
.content{ width:520px; float:left;}/* left form */
/* list index */
.list{ width:642px; margin:2px 5px 5px 0;clear:both; overflow:hidden; }
.list h2{line-height:29px; height:29px; font-size:14px; color:#3b3b3b; padding:10px 0 10px 20px;}
.list h2 a{color: #333; display:block;}
.list h2 a:hover{cursor:pointer; text-shadow:#fff 1px 1px 1px;padding-left:20px}
.list ul{ line-height:24px; padding:10px; margin-bottom:10px; background:rgba(255,255,255,0.5);  border-radius:10px}
.list ul p{ text-indent:2em}
.list figure{ text-align:center}
.dateview{ border:#ccc 1px dashed; line-height:24px; height:24px; color:#666; margin:0 10px}
.dateview a{color:#838383;}
.dateview a:hover{ color:#333;}
.dateview span{ margin:0 10px}
/* Side Right */
aside{ width:240px; float:left; overflow:hidden;}
.vcard{ margin:0 12px; padding:0;width: 200px;height: 207px; background:url(../Images/about.jpg) no-repeat;} 
.vcard p{ line-height:25px}
.vcard p a{ color:#099;text-decoration:underline}
.vcard2{ margin:0 12px; padding:0;width: 200px;height: 259px; background:url(../Images/contact.jpg) no-repeat;} 
#rightBar{width: 225px;height: 318px; background:url(../Images/dyjs.jpg)no-repeat;}
aside h2{  border-bottom:#FFF 1px solid; width:100%;overflow:hidden; font-size:14px; margin:10px 0; font-family:"microsoft yahei"}
aside h2 p{ background:#333; width:180px; height:25px; margin:15px 0 0 10px; line-height:25px; height:25px; color:#fff; text-align:center; box-shadow: #999 4px 5px 1px;}
.about{ padding:65px 0 0 40px; list-style:none;}
.about li{ overflow: hidden;white-space: nowrap;text-overflow: ellipsis; padding-left:20px;background: url(../Images/dot2.jpg) no-repeat;}
.about li a{ color: #666;display:block;line-height:22px; height:22px}
.about li a:hover{color:#000; padding-left:20px; }
.contact {padding:65px 20px 0 40px;}
/* footer */
#copright{/*line-height:94px;*/margin:auto; height:94px;background: url(../Images/footer.jpg) no-repeat;width:1002px;color:#fff;text-shadow:#000 1px 1px 1px}
#copright a{color:#fff}
#copright #footer-nav{padding: 20px 0 0 0;text-align: center;}
#copright #footer-cop{margin: 10px 0 0 0;text-align: center;}
/*menu*/
#menu {width:1002px;margin: 77px 0 3px 0;background: #348200;font-size: 1px;background: url(../Images/menubg.jpg) repeat-x;height: 50px;line-height: 49px;}
#menu a {display: inline-block;width: 96px;height: 49px;line-height: 49px;background: url(../Images/menu.jpg) no-repeat;color: white;font-size: 13px;text-decoration: none;text-align: center;}
#menu a:hover {background-image: url(../Images/menunow.jpg);}
#divLeft {width: 25px;height: 49px;line-height: 49px;background: url(../Images/menuleft.jpg) no-repeat;float: left;}
#divRight {width: 25px;height: 49px;background: url(../Images/menuright.jpg) no-repeat;float: right;}
#divTime {width: 260px;height: 49px;font-size: 14px;text-align: center;float: left;}

.main,#conent1{float: left;width: 500px;margin: 20px 0 0 0;}
.main .left1,.left2{width: 440px;height: 19px;float: left;}
.main .left1{background: url(../Images/gsjs.jpg) no-repeat;}
.main .left2{background: url(../Images/pdt_title.jpg) no-repeat;}
.main .right{width: 50px;height: 19px;background: url(../Images/gsjs.jpg) no-repeat;background-position: -840px 0;padding-left: 10px;float: left;}
#conent1 #house{float: left;width: 200px;height: 150px;padding:0 10px 10px 10px;}
#conent1 #subcont1{float: left;width: 260px;padding:0 0 10px 10px;}
#dotline{margin: 160px 0 0 0;height: 10px;background: url(../Images/dotline.jpg) no-repeat;}

.item{ padding:65px 0 0 40px; list-style:none;}
.item li{padding-left:20px;background: url(../Images/arrow.jpg) 0 center no-repeat;}
.item li a{color: #666;}
.item li a:hover{color:#000; padding-left:20px; }
.item li span{float: right;}
/*pic scroll*/
#pic{float: left;width: 500px; height: 150px;}
#demo {background: #FFF;overflow: hidden;border: 1px dashed #CCC;width: 500px;}			
#demo img {border: 3px solid #F2F2F2;}	
#indemo {float: left;width: 800%;}
#demo1 {float: left;}
#demo2 {float: left;}

#rightBar{float: left;width: 251px;margin: 0 0 0 15px;}
#rightBar .vcard3{float: left;width: 195px;padding:60px 10px 0 15px;}

#saying{margin: 50px 0 0 0;width: 223px;height: 350px;background: url(../Images/msg.jpg)0 bottom no-repeat;}
#tel{width: 196px;height: 121px;background: url(../Images/tel.jpg)0 bottom no-repeat;}

/*artist*/

.list2{ width:800px; margin:2px 5px 5px 0;clear:both; overflow:hidden; }
.main2{float: left;width:780px;margin: 20px 0 0 0;}
.main2 .list-nav,.list .list-nav{ margin:0 0 0 20px; padding:0 0 0 20px;width: 600px;height: 30px; background:url(../Images/listtitle.jpg) repeat-y;} 
.list #artcontent{margin: 10px 0 0 10px;}

/*.list #artcontent ul{list-style:}*/
.item {list-style: none;}
.item li span {float: right;}
.item li{background:url(../Images/line.jpg)no-repeat;}
.item li a{text-decoration: none;}
.item li a:hover{text-decoration: none;color: orangered;}

/*artdetail*/

#subcont1 p,.vcard3 p{text-indent: 2em;}
.title{font: 20px/80px "microsoft yahei";text-align: center;}
.subtitle{margin: 0 0 0 20px;border: 1px dotted #CCCCCC;height: 30px;text-align: center;line-height: 30px;}
#method{margin: 20px 0 0 40px;}
#method .methodtitle{font-weight: bolder;}
#method .intent{text-indent: 2em;}
#method p{padding: 5px;}

/*prodetail*/

.list #procontent{width:100%;height: 300px;border: 1px solid #CCCCCC;position: relative;}
#pro1,#pro2,#pro3,#pro4{width: 48.5%;height: 140px;}
.list #procontent #pro1{position: absolute;top: 5px;left: 5px;background: url(../Images/pdt/p1.jpg)no-repeat;background-position: 98.5% 0;}
.list #procontent #pro2{position: absolute;top: 5px;right: 5px;background: url(../Images/pdt/p1.jpg)no-repeat}
.list #procontent #pro3{position: absolute;bottom: 5px;left: 5px;background: url(../Images/pdt/p1.jpg)no-repeat;background-position: 98.5% 0;}
.list #procontent #pro4{position: absolute;bottom: 5px;right: 5px;background: url(../Images/pdt/p1.jpg)no-repeat}
.subtitle2{margin: 0 0 0 20px;height: 30px;text-align: right;line-height: 30px;}

